@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #141625;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer components {
  .form-control{
    @apply flex flex-col w-[152px] gap-y-2 text-sm;
  }
  .input{
    @apply bg-primary h-12 rounded px-8
  }
}